$default-main: black;
$default-sub: #d5d5d5;
$default-font: black;
$default-background1: #c0c0c0;
$default-background2: #d5d5d5;

$writer-main: #face7d;
$writer-sub: #95b2ee;
$writer-font: black;
$writer-background1: #95b2ee;
$writer-background2: #2450fc;