$default-main: #a2a2a2;
$default-sub: #e7e7e7;
$default-font: black;
$default-background1: #fdfdfd;
$default-background2: #f0f0f0;

$writer-main: #face7d;
$writer-sub: #95b2ee;
$writer-font: black;
$writer-background1: #95b2ee;
$writer-background2: #2450fc;