@use "./colors";

.theme-default{
  --main-color: #{colors.$default-main};
  --sub-color: #{colors.$default-sub};
  --font-color: #{colors.$default-font};
  --background1-color: #{colors.$default-background1};
  --background2-color: #{colors.$default-background2};
}
.theme-writer{
 --main-color: #{colors.$writer-main};
 --sub-color: #{colors.$writer-sub};
 --font-color: #{colors.$writer-font};
 --background1-color: #{colors.$writer-background1};
 --background2-color: #{colors.$writer-background2};
}

.theme-filmmaker{

}