.theme-default{
  --main-color:black;
  --sub-color: #d5d5d5;
  --font-color:black;
  --background-color:#d5d5d5;
}
.theme-writer{
 --main-color: #face7d;
 --sub-color: #95b2ee;
 --font-color:black;
 --background-color: #95b2ee;
}

.theme-filmmaker{

}