@use "../../styles/fonts";

.Logo {
  position:relative;
  display: flex;
  flex-direction: column;
  min-width:600px;
  padding:180px 40px 120px 40px;
  color:var(--font-color);
  font-family: fonts.$font-righteous;
  transition: 1s;


  .Logo_Header{
    margin-bottom: 0.5em;
    h1{
      color: inherit;
      font-size: 6em;
      font-weight: bolder;
      text-shadow: var(--main-color) 3px 3px 0px;
    }
  }
  .Logo_Sub{
    font-size:1.5em;
    text-align: right;
    margin-top:1em;
    color:var(--main-color)
  }
}
